nav {
    display: flex;
    background-color: var(--general-theme-color);
    padding: 5px 20px 5px 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

a {
    text-decoration: none;
}

.header_logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.nav_elements {
    display: flex;
    gap: 25px;
}

.nav_element {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.nav_element:hover {
    color: white;
}
